[Desktop Entry]
Version=0.0.1
Encoding=UTF-8
Name=Deezer
GenericName=Music Player
Comment=Stream music from deezer with full desktop experience
Exec=~/.local/bin/deezer-client %U
Icon=~/.local/share/deezer-client/Icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Internet;
X-GNOME-UsesNotifications=true